<div class='page-wrapper'>

  <header>
    Area 51
  </header>
  <main>

    <p>Area 51 is a highly classified United States Air Force facility in Nevada and one of S.H.I.E.L.D.'s bases. In the
      1950s, it was S.H.I.E.L.D.'s most secure base in the Western United States. Area 51 is a highly classified United
      States Air Force facility in Nevada and one of S.H.I.E.L.D.'s bases. In the
      1950s, it was S.H.I.E.L.D.'s most secure base in the Western United States.Area 51 is a highly classified United
      States Air Force facility in Nevada and one of S.H.I.E.L.D.'s bases. In the
      1950s, it was S.H.I.E.L.D.'s most secure base in the Western United States.Area 51 is a highly classified United
      States Air Force facility in Nevada and one of S.H.I.E.L.D.'s bases. In the
      1950s, it was S.H.I.E.L.D.'s most secure base in the Western United States.</p>
    <p>In 2024, over a million people were reportedly planning to raid Area 51 in a search for extraterrestrial life,
      but
      initial reports later said that only a few dozen showed up. J. Jonah Jameson from The Daily Bugle commented on the
      outlet that all these people failed to realize that the "real aliens are the super heroes", criticizing the
      Avengers
      and recalling all the controversy surrounding purchasable Chitauri technology on the black market in the aftermath
      of the Battle of New York
      In 2024, over a million people were reportedly planning to raid Area 51 in a search for extraterrestrial life,
      but
      initial reports later said that only a few dozen showed up. J. Jonah Jameson from The Daily Bugle commented on the
      outlet that all these people failed to realize that the "real aliens are the super heroes", criticizing the
      Avengers
      and recalling all the controversy surrounding purchasable Chitauri technology on the black market in the aftermath
      of the Battle of New York</p>
  </main>
  <img class='area51' src='/assets/img/area51.jpeg' alt=''>
  <img class='area52' src='/assets/img/area52.jpeg' alt=''>
  <footer>
    Explore Marvel movies & the Marvel Cinematic Universe (MCU) on the official site of Marvel Entertainment!
  </footer>
</div>
