@import "variable";

:host {
  padding: 10px;
}

.page-wrapper {
  color: white;

  > * {
    background: rgba(245, 222, 179, 0.3);
    padding: 10px;
  }
  display: grid;

  grid-template-columns: 300px 500px;
  grid-gap: 10px;
}

.title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 1/-1;

}

.body {

}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.img {
  grid-column-start: 1;
  grid-row-start: 2;
  img {
    width: 100%;
  }
}
