/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  background: black;

  header,
  main,
  footer,
  nav,
  div {
    font-family: Bubblegum Sans, serif;
  }
}

.page-wrapper {
  display: grid;
  height: 100vh;
}

.center {
  display: grid;
  place-content: center;
}

