$size: 150px;
:host{
  display: grid;
  padding: 20px;
  grid-template-columns:
    repeat( auto-fit,minmax($size,1fr));
  grid-gap: 10px;
}
.tile {
  display: grid;
  place-content: center;
  height: $size;
  width: 100%;
  font-size: 3em;
  background: rgb(172,242,165);
  background: linear-gradient(270deg, rgba(172,242,165,0.5900735294117647) 4%, rgba(24,255,0,0.6629026610644257) 100%);
  border-radius: 10px;
}
